.curso-card {
  position: relative;
  width: 100%;
  height: 16rem; /* equivalente a h-64 */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: #eee;
  transition: transform 0.3s ease;
}

.curso-card:hover {
  transform: scale(1.02);
}

.curso-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* importante para que se adapte */
  display: block;
}

.curso-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: #fff;
}

.curso-info h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.curso-info p {
  margin: 0.2rem 0 0;
  font-size: 0.95rem;
}

.swiper {
  padding-bottom: 40px;
}

/* Color normal */
.swiper-pagination-bullet {
  background-color: var(--color-gris-oscuro1); /* Cambia a tu color */
  opacity: 1; /* Para que no se vean atenuadas */
}

/* Color activo */
.swiper-pagination-bullet-active {
  background-color: var(--color-vino); /* Cambia a tu color activo */
}
