/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
} */

/* .modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
} */

/* .card {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s;
} */

/* .card:hover {
  transform: scale(1.02);
} */

.swiper {
  width: 100%;
}

/* .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px; 
} */

/* .modal-xl {
  max-width: 1000px;
} */

.modal-body {
  overflow: visible !important;
  position: relative; /* para que los botones con position absolute se posicionen bien */
}


